.App {
  text-align: center;
}

.form-check-input:checked {
    background-color: black;
    border-color:black;
}
.hed
{
/* padding-top: 35px!important; */
padding-bottom: 20px!important;

}
.form-check-input:checked {
  background-color: black;
  border-color:black;
}
.form-control
{
  border: 4px solid black;
}
.alertarea
{
  height: 100px;
  width: 100vw;
}